.basket {
  background-size: cover;
  background-position: center;
  min-height: 84vh;
  padding: 60px;
  color: #1F282E;
  display: flex;
  justify-content: center;
}

.main {
  width: 72vw;
}

.basket-details {
  background-color: rgba(226, 185, 58, 0.8);
  border-radius: 4px;
  padding: 8px 28px 10px 28px;
  margin-bottom: 20px;
  border: solid 1px #1F282E;
  // text-align: center;
  a {
    color: #1F282E;
    text-decoration: none;
  }
  a:hover {
    color: white;
  }
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.checkout-btn {
  text-align: right;
  a {
    text-decoration: none;
    color: #E2B93A;
    background-color: #1F282E;
    padding: 12px 20px;
    border-radius: 4px;
    opacity: 0.8;
    border: solid 1px #E2B93A;
  }
  a:hover {
    // color: white;
    border: solid 1px white;
    opacity: 1;
  }
}

.basket-grid {
  // text-align: center;
  display: grid;
  grid-template-columns: 7fr 4fr 4fr 4fr 1fr;
  grid-gap: 36px;
  // background-color: transparent;
}

#basket-total {
  color: #1F282E;
  border-top: solid 1px #1F282E;
  padding-top: 8px;
  margin-top: 4px;
}

#basket-headers {
  color: #1F282E;
  border-bottom: solid 1px #1F282E;
  // padding-bottom: 8px;
  margin-bottom: 8px;
}
