.mybanner {
  text-align: center;
  padding: 100px;
  height: 48vh;
  color: white;
  // color: #E2B93A;
  background-size: cover;
  background-position: bottom;
}

.featured {
  background: #1F282E;
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 12px;
  height: 40vh;
}

.featured-products {
  border: solid 1px white;
  border-radius: 4px;
}

.featured-subcats {
  border: solid 1px white;
  border-radius: 4px;
}
