.mybanner {
  text-align: center;
  padding: 100px;
  height: 48vh;
  color: white;
  // color: #E2B93A;
  background-size: cover;
  background-position: bottom;
  h3 {
    color: #E2B93A;
  }
}

.featured {
  // background: #1F282E;
  // background: #E2B93A;
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 12px;
  // height: 40vh;
}

.featureds {
  background: #1F282E;
  border: solid 1px gray;
  border-radius: 4px;
  width: 40vw;
  padding: 8px 28px 20px 28px;
  text-align: center;
  a {
    text-decoration: none;
    color: white;
    // color: #E2B93A;
  }
}

.cards {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 12px;
  background-color: transparent;
  h6 {
    color: white;
    text-decoration: none;
  }
}

.homepage-card {
  border-radius: 4px;
  border: none;
  width: 140px;
  height: 140px;
  margin-bottom: 28px;
  img {
    border-radius: 4px;
    object-fit: cover;
    width: 140px;
    height: 140px;
  }
}

.popular {
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
  border: none;
  height: 80px;
  margin-bottom: 12px;
  text-align: left;
  img {
    border-radius: 4px;
    object-fit: cover;
    width: 80px;
    height: 80px;
  }
  .popular-text {
    flex-grow: 1;
    padding: 12px;
  }
}
