.mybanner {
  text-align: center;
  padding: 100px;
  height: 48vh;
  color: white;
  // color: #E2B93A;
  background-size: cover;
  background-position: bottom;
}

.featured {
  // background: #1F282E;
  // background: #E2B93A;
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 12px;
  height: 40vh;
}

.featured-products {
  background: #1F282E;
  border: solid 1px gray;
  border-radius: 4px;
  width: 42vw;
}

.featured-subcats {
  background: #1F282E;
  border: solid 1px gray;
  border-radius: 4px;
  width: 42vw;
}
