.devise-back {
  min-height: 88vh;
  background-size: cover;
  background-position: center;
  color: white;
  padding: 70px 90px;
  // display: flex;
  // align-items: center;
  // justify-content: center;
}

.devise-form {
  width: 32vw;
  background-color: rgba(31, 40, 46, 0.8);
  border-radius: 4px;
  padding: 8px 28px 10px 28px;
  // text-align: center;
  a {
    text-decoration: none;
    color: white;
  }
}

.button {
  background-color: #E2B93A;
  padding: 4px 16px;
  border-radius: 4px;
}
