.product-show-page {
  display: flex;
  justify-content: space-between;
}

.product-left {
  height: 80vh;
}

.product-details {
  // flex-grow: 1;
  width: 50vw;
  // height: 60vh;
  padding: 16px;
}

.product-image {
  background-size: cover;
  background-position: center;
  width: 50vw;
  // height: 400px;
}

.product-stats {
  display: flex;
  justify-content: space-between;
}

.similar-products {
  background: #1F282E;
  color: white;
  height: 150px;
}
