<nav class="mynavbar">
  <div class="navbar-top">
    <h3 id="cosmos-emp" class="pl-4"><%= link_to "The Cosmos Emporium 🚀", root_path %></h3>
    <h6>Basket / Sign-In</h6>
  </div>
  <div class="categories">
    <% Category.all.each do |cat| %>
      <div class="tab">
        <h4>
        <% if cat == @category %>
          <%= link_to cat.name, category_path(cat), class: "active" %>
        <% else %>
          <%= link_to cat.name, category_path(cat)%>
        <% end %>
        </h4>
      </div>
    <% end %>
  </div>
</nav>
