<%= render 'shared/navbar' %>
<div class="basket" style="background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.3)), url(<%= image_path 'retro_img_2.jpg' %>)">
  <div class="basket-details">
    <h3>Basket</h3>
  </div>
</div>
