<%= render 'shared/navbar' %>
<div class="mybanner" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.2)), url(<%= image_path 'retro_img_4.jpg' %>)">
  <h3>Attention deities, pirates, villains and rulers...</h3>
  <h6>Are you looking to expand your space-empire?</h6>
  <h6>Browse and purchase prime interstellar real estate here, at the click of the button</h6>
</div>
<div class="featured">
  <div class="featured-products">
    <h5 class="p-2">Featured Products:</h5>
  </div>
  <div class="featured-subcats">
    <h5 class="p-2">Featured Categories:</h5>
  </div>
</div>
