.mynavbar {
  background: #1F282E;
  // color: #E69535;
  color: white;
  a {
    text-decoration: none;
    color: white;
  }
  a:hover {
    color: #E2B93A;
  }
}

.navbar-top {
  display: flex;
  justify-content: space-between;
  padding: 12px;
}

.categories {
  display: flex;
  justify-content: space-around;
}

// .navbar-lewagon {
//   justify-content: space-between;
//   background: white;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }
