<%= render 'shared/navbar' %>
<div class="show-page">
  <div class="filters">
    <h6>Available Filters:</h6>
    <% @sub_categories.each do |subcat| %>
      <%= subcat.name %>
    <% end %>
  </div>
  <div class="results">
    <h6>X number of items found:</h6>
  </div>
</div>
